body{
    background-color: #4B3FB3FF;
}
.menubar{
    display: inline-block; 
}
.header-menu {
  display: flex; 
  align-items: center; 
  font-family: Inter; /* Body */
  font-weight: 400; 
  opacity: 1; 
}
  /* Header Menu 1 - Item */
.header-menu .header-menu-item {
    padding: 5px;
    align-items: center; 
    justify-content: center; 
    color: #F3F4F6FF; /* neutral-200 */
    border-radius: 0px; 
    cursor: pointer; 
    white-space: nowrap; 
  }

  /* Header menu item 1 */
.header-menu .header-menu-item:nth-child(1) {
    font-family: Inter; 
    font-weight: 400; 
    color: #F3F4F6FF; /* neutral-200 */
  }
  /* Header menu item 2 */
.header-menu .header-menu-item:nth-child(2) {
    font-family: Inter; 
    font-weight: 400; 
    color: #F3F4F6FF; /* neutral-200 */
  }
  /* Header menu item 3 */
.header-menu .header-menu-item:nth-child(3) {
    font-family: Inter; 
    font-weight: 400; 
    color: #F3F4F6FF; /* neutral-200 */
  }
  /* Header Menu 1 - Item with indicator */
.header-menu .header-menu-item.indicator {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 4px; 
    background: #CCD0F5FF; /* primary-150 */
    border-radius: 0px; 
  }
    /* Header Menu 1 - Selected item */
.header-menu .header-menu-item:hover{
        color: #CCD0F5FF; /* primary-150 */
      }
  /* Image 1 */
.lang_icons {
  width: 35px; 
  height: auto; 
  border-radius: 0px 0px 0px 0px; 
}
.profilehomepage {
  max-width: 100%; 
  height: auto; 
  border-radius: 50%; 
}
.contactimageslist {
  display: grid;
}
.contacticons{
  width: 60%; 
  height: auto;
  border-radius: 0px;
  filter: invert(1);/*Tone image change*/
}
/* Button 1 */
.buttoncontact {
  width: 100%;
  padding: 3%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #161D6FFF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 4px; /* border-m */
}
/* Hover */
.buttoncontact:hover {
  color: #FFFFFFFF; /* white */
  background: #0E1246FF; /* primary-850 */
}
/* Pressed */
.buttoncontact:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0D1140FF; /* primary-900 */
}
/* Disabled */
.buttoncontact:disabled {
  opacity: 0.4; 
}
.pagefooter1{
  position: absolute;
  bottom:0;
  margin: 0;
}
.footericons{
  width: 34px; 
  height: 36px; 
  border-radius: 0px;
  filter: invert(1);/*Tone image change*/
  padding-right: 1%;
}
/*CSS Format for links (active, pressed previously and after visited) remove all format*/
a:link, a:visited, a:active, a::after{
  text-decoration:none;
}
.utp{
  width: 30%;
}
.ecci{
  width: 50%;
}
.book{
  width: 15%;
}
.languageimg{
  width: 50%;
}