/*Font family for all elements*/
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
body{
    background-color: #4B3FB3 !important;
}
.profilehomepage {
  max-width: 100%; 
  height: auto; 
  border-radius: 50%; 
}
.contactimageslist {
  display: grid;
}
.contacticons{
  width: 60%; 
  height: auto;
  border-radius: 0px;
  filter: invert(1);/*Tone image change*/
}
/* Button 1 */
.buttoncontact {
  width: 100%;
  padding: 3%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #161D6FFF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 4px; /* border-m */
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* Hover */
.buttoncontact:hover {
  color: #FFFFFFFF; /* white */
  background: #0E1246FF; /* primary-850 */
}
/* Pressed */
.buttoncontact:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0D1140FF; /* primary-900 */
}
/* Disabled */
.buttoncontact:disabled {
  opacity: 0.4; 
}
/*CSS Format for links (active, pressed previously and after visited) remove all format*/
a:link, a:visited, a:active, a::after{
  text-decoration:none;
}
/*Styles for timeline:*/

.timeline{
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px; /* altura total controlada */
}
/*The element ::before is used to create pseudoelements that won't affect the DOM flow, but can be present as a background. As
a pencil line. You can put icons, texts or other elements using attr().*/
.timeline::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.timeline-item{
  position: relative;
  width: 150px;
  display: flex;
  justify-content: center;
}
/*Draw the dots in the timeline*/
.timeline-item::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  /*Synchronize the position with the line*/
  transform: translateY(-50%);
}
.timeline-content {
  position: absolute;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.timeline-content:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.25);
}

.timeline-item:nth-child(odd) .timeline-content {
  bottom: 10px;
}

.timeline-item:nth-child(even) .timeline-content {
  top: 10px;
}
.utp{
  width: 30%;
}
.ecci{
  width: 50%;
}
.book{
  width: 15%;
}
.languageimg{
  width: 50%;
}
.skillsicons{
  width: 100%; 
  height: auto;
  border-radius: 0px;
  overflow: visible;
}
.skillsicons2{
  width: 70%; 
  height: auto;
  border-radius: 0px;
}
.skillsicons3{
  width: 60%; 
  height: auto;
  border-radius: 0px;
}
h3{
  color: #FFFFFFFF;
}
p{
  text-align: justify;
  font-style: normal;
}
.devlogo{
  width: 50%;
  height: auto;
  filter: invert(1);
}
.explogo{
  width: 50%;
  height: auto;
}
#mail-button{
  cursor: pointer;
  position: relative;
}
/*CSS for copied text:*/
.copied{
  color: #F3F4F6;
  position: absolute;
  bottom: -15px;
  left: 18%;
  text-align: center;
}
/*Microinteractions for icons*/
.icons-interactions{
  transform: scale(1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  overflow: visible;
}
.icons-interactions:hover{
  transform: scale(1.25);
}

ul{
  list-style-type: none;
}
/*Styles for experience section*/
#experience_content > div{
	display: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#experience_content div.active{
  display: flex !important;
}
#experience_header li.active{
  transform: scale(1.5);
}

/*Styles for Technologies section scroller*/
.tech-slider {
    overflow: hidden;
    position: relative;
    background: none;
}

.tech-track {
    display: inline-block; /* Display the element */
    white-space: nowrap;   /* keep the 8 columns and keep the right size. */
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
.tech-track-right {
    display: inline-block; /* Display the element */
    white-space: nowrap;   /* keep the 8 columns and keep the right size. */
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-animation: scroll-right 15s linear infinite;
    -webkit-animation: scroll-right 15s linear infinite;
    animation: scroll-right 15s linear infinite;
}
.tech-track:hover, .tech-track-right:hover{
  animation-play-state: paused;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }  
}

@-moz-keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes scroll-right {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }  
}

/* capa intermedia */
.tech-row {
  flex-wrap: nowrap; /* keeps working for Bootstrap in the 8 columns */
}
/* controls the hover in the icons */
.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.icon-wrapper img {
  width: 80%;
  height: 80%;
  transition: transform .3s ease;
}

.icon-wrapper:hover img {
  /*Filter is useful when you need to highlight something but you don't need to modify the layout.
  Also, drop-shadow is to do the shadow to the element, not the box*/
  filter: drop-shadow(0 8px 16px rgba(0,0,0,.4));
  transform: translateY(-4px);
}

/*Styles for projects section*/
#projects_content > div{
	display: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#projects_content div.active{
  display: block;
}
#projects_header li.active{
  transform: scale(1.5);
}
/*Microinteractions for icons (mobile version): Here identifies if hover is not used*/
@media(hover: none){
  .icons-interactions:active{
    transform: scale(1.25);
  }
  .timeline-content:active{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.25);
}
}
@media (max-width: 768px) {

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 32px; /* espacio para línea + puntos */
    height: auto;
  }

  /* Línea vertical */
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 2px;
    height: 100%;
    background: white;
  }

  .timeline-item {
    position: relative;
    display: flex;
  }

  /* Punto */
  .timeline-item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0.4em;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
  }

  .timeline-content {
    position: relative !important;
    width: 100%;
    text-align: left;
  }
}
