/*Font family for all elements*/
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
body{
    background-color: #4B3FB3 !important;
}
.profilehomepage {
  max-width: 100%; 
  height: auto; 
  border-radius: 50%; 
}
.contactimageslist {
  display: grid;
}
.contacticons{
  width: 60%; 
  height: auto;
  border-radius: 0px;
  filter: invert(1);/*Tone image change*/
}
/* Button 1 */
.buttoncontact {
  width: 100%;
  padding: 3%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #161D6FFF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 4px; /* border-m */
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* Hover */
.buttoncontact:hover {
  color: #FFFFFFFF; /* white */
  background: #0E1246FF; /* primary-850 */
}
/* Pressed */
.buttoncontact:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0D1140FF; /* primary-900 */
}
/* Disabled */
.buttoncontact:disabled {
  opacity: 0.4; 
}
/*CSS Format for links (active, pressed previously and after visited) remove all format*/
a:link, a:visited, a:active, a::after{
  text-decoration:none;
}
.utp{
  width: 30%;
}
.ecci{
  width: 50%;
}
.book{
  width: 15%;
}
.languageimg{
  width: 50%;
}
.skillsicons{
  width: 100%; 
  height: auto;
  border-radius: 0px;
}
.skillsicons2{
  width: 70%; 
  height: auto;
  border-radius: 0px;
}
.skillsicons3{
  width: 60%; 
  height: auto;
  border-radius: 0px;
}
h3{
  color: #FFFFFFFF;
}
p{
  text-align: justify;
  font-style: normal;
}
.devlogo{
  width: 50%;
  height: auto;
  filter: invert(1);
}
.explogo{
  width: 50%;
  height: auto;
}
#mail-button{
  cursor: pointer;
  position: relative;
}
/*CSS for copied text:*/
.copied{
  color: #F3F4F6;
  position: absolute;
  bottom: -15px;
  left: 18%;
  text-align: center;
}
/*Microinteractions for icons*/
.icons-interactions{
  transform: scale(1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.icons-interactions:hover{
  transform: scale(1.25);
}

/*Microinteractions for icons (mobile version): Here identifies if hover is not used*/
@media(hover: none){
  .icons-interactions:active{
    transform: scale(1.25);
  }
}