    <link rel="stylesheet" href="../css/footer.css">
    <footer>
        <!--An additional row for the footer-->
        <!--A flex box to adapt the content, with padding, contenf justified and aligned-->
        <div class="d-flex flex-wrap justify-content-between align-items-stretch py-3 border-top">
            <!--Column for the email-->
            <div class="col-md-4 d-flex align-items-center">
                <div><img class="footericons" alt="mail" src="./images/mail_icon.svg"/></div>
                <div id="mail-text"><p class="fs-6" style="font-family: Inter; color: #F3F4F6FF; margin-bottom: 0;">castiblanco.castaneda.alyson.val@gmail.com</p></div>             
            </div>
            <!--Column for social media-->
            <div class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <a target="_blank" href="https://www.linkedin.com/in/alyson-valeria-castiblanco-casta%C3%B1eda/"><img class="footericons" alt="Linkedin" src="./images/linkedin_icon.svg"/></a>
                <a target="_blank" href="https://github.com/ALYSONCASTIBLANCO"><img class="footericons" alt="GitHub" src="./images/github_icon.svg"/></a>
            </div>
        </div>            
    </footer>