
<link rel="stylesheet" href="../css/header.css"/>    
<title>Header</title>
<header>
    <!--Row that will contain the header-->
    <div class="row">
    <!--Column to put the logo-->
        <div class="col-8">
            <a href="./Homepage.html"><h1 class="h1" style="font-family: Arial, Helvetica, sans-serif; color: #F3F4F6FF;  font-weight: 700;">AlyDev</h1></a>
        </div>
        <div class="col-4 hamburguer" id="burger-menu">☰</div>
        <!--Column to put the quick access bar menu-->
        <div id="header-menu" class="header-menu">
            <a class="fs-4" href="AboutMe.html">About me</a>
            <a class="fs-4" href="Projects.html">My Projects</a>
            <a class="fs-4" href="Contact.html">Contact</a>
            <a class="fs-4" href="#"><img class="lang_icons" alt="Esp" src="./images/spain_icon.png"></img></a>
            <a class="fs-4" href="Homepage.html"><img class="lang_icons" alt="Eng" src="./images/uk_icon.png"></img></a>
            <a class="fs-4" href=".#"><img class="lang_icons" alt="Por" src="./images/brazil_icon.png"></img></a>
        </div>
    </div>
</header>
